.buttonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.button {
  width: 64px;
  height: 64px;
  padding: 0;
  background: #f0f0f0;
  border: 4px solid rgba(218, 218, 218, 0.55);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:
    8px 8px 16px rgba(163, 163, 163, 0.6),
    -8px -8px 16px rgba(255, 255, 255, 0.9),
    inset 0 0 0 1px rgba(255, 255, 255, 0.4);
  transition: all 0.2s ease;
}

.button svg {
  width: 32px;
  height: 32px;
  filter:
    drop-shadow(1px 1px 1px rgba(111, 111, 111, 0.2)) drop-shadow(-1px -1px 1px rgba(255, 255, 255, 0.2));
}

.button:hover {
  box-shadow:
    7px 7px 8px rgba(182, 182, 182, 0.6),
    -7px -7px 8px rgba(255, 255, 255, 0.9),
    inset 0 0 0 1px rgba(255, 255, 255, 0.3);
  transform: translateY(-0.5px);
}

.button:active:not(.active) {
  background: #e9e9e9;
  border: 2px solid rgba(223, 223, 223, 0.761);
  box-shadow:
    inset 2px 2px 4px rgba(163, 163, 163, 0.6),
    inset -2px -2px 4px rgba(255, 255, 255, 0.8);
  transform: translateY(0);
}

.button.active {
  background: #e9e9e9;
  border: 2px solid rgba(223, 223, 223, 0.761);
  box-shadow:
    inset 2px 2px 8px rgba(163, 163, 163, 0.6),
    inset -2px -2px 8px rgba(255, 255, 255, 0.8);
  transform: translateY(-0.5px);
}

.label {
  font-size: 0.8rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  text-shadow:
    -1px -1px 2px rgba(255, 255, 255, 0.4);
}

/* 버튼별 색상 정의 */
.friends {
  color: #FF6B35;
}

.friends+.label {
  color: #727272;
}

.chat {
  color: #FF6B35;
}

.chat+.label {
  color: #727272;
}

.profile {
  color: #FF6B35;
}

.profile+.label {
  color: #727272;
}

.logout {
  color: #ff4400;
}

.logout+.label {
  color: #727272;
}