.chatLayout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  overflow: hidden;
}

@media (max-width: 768px) {
  .chatLayout {
    flex-direction: column;
    min-height: 0;
  }
}
