.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80px;
}

/* MessageWindow의 searchInput과 동일한 스타일 적용 */
.form {
  background: transparent;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}

.input {
  width: 100%;
  height: 20px;
  padding: 1rem;
  border: none;
  border-radius: 9999px;
  font-size: 0.9375rem;
  outline: none;
  transition: all 0.2s;
  background-color: #ffffff;
  color: #333;
  margin: 0.5rem;
  flex-grow: 1;
}

.sendButton {
  /* background: #ffffff; */
  background: transparent;
  border: none;
  width: 40px;
  height: 40px;
  min-width: 40px;
  /* 크기 줄어듦 방지 */
  margin: 0.5rem;
  border-radius: 50%;
  outline: none;
  color: #FF6B35;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: all 0.2s ease;
  z-index: 1000;
}

.sendButton:hover {
  transform: scale(1.1);
}

.sendButton:active {
  transform: scale(1);
}